<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.tnt.scoreboard"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BaseLightTheme">
        <activity
            android:name=".GameListActivity"
            android:label="@string/title_activity_games">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameNewActivity"
            android:label="@string/title_activity_game_new" />
        <activity
            android:name=".GameScoreActivity"
            android:label="@string/title_activity_score" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".HelpFeedbackActivity"
            android:label="@string/title_activity_help" />
    </application>
</manifest>
